/* ? Scrollbars ? */
::-webkit-scrollbar { width: 4.5pt; }
::-webkit-scrollbar-track { 
    background: var(--artimus-background-2);
    border-radius: 3pt;
}

::-webkit-scrollbar-thumb {
  background: var(--artimus-icon);
  border-radius: 3pt;
}
::-webkit-scrollbar-thumb:hover { background: var(--artimus-button-selected); }

/* If the browser doesn't support the cool psuedo-element, use the standard */
@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--artimus-icon) var(--artimus-background-2);
        scrollbar-width: thin;
    }
}

/* ? General size stuff ? */
body {
    --small-side: max(min(1vw, 1vh), 6pt);
    color: var(--artimus-text);
}

/* ? Main UI ? */
.main-grid {
    display: grid;
    grid-template-rows: 18pt calc(100vh - 18pt);

    position: absolute;
    width: 100%;
    height: 100%;

    top: 0pt;
    left: 0pt;
}

.top-bar {
    background-color: var(--artimus-background-2);
    border-bottom-width: 3pt;
    border-bottom-style: solid;
    border-bottom-color: var(--artimus-background-1);

    display: flex;

    padding-left: 6pt;
    padding-right: 6pt;
}

.top-bar > p {
    margin: 0pt;
}

cugi-dropdown {
    text-align: center;
    user-select: none;

    background-color: var(--artimus-button-normal);
    transition: 300ms background-color;
}

cugi-dropdown:hover {
    background-color: var(--artimus-button-hover);
}

cugi-dropdown:active {
    background-color: var(--artimus-button-click);
    transition: 0ms background-color;
}

/* ? Popups ? */
.modal-background {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0pt;
    left: 0pt;

    background-color: #00000055;

    transition: 250ms opacity;
}

.popup {
    position: absolute; 
    
    padding: 0pt;

    top: 50%; 
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: var(--artimus-background-1);

    overflow: hidden;
    border-radius: 12pt;

    width: calc(var(--small-side) * var(--window-width));
    height: calc(var(--small-side) * var(--window-height));

    display: flex;
    flex-direction: column;
}

.popup .popup-content {
    text-align: center;
    font-family: monospace;

    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.popup-content button {
    border-bottom-width: 3pt;
    border-left-width: 1.5pt;
    border-right-width: 1.5pt;
}

.popup .CUGI-PropertyHolder {
    display: flex;
}

.popup-top {
    display: flex;
    background-color: var(--artimus-background-2);
    padding: 3pt;
}

.popup-title {
    flex-grow: 1;
    
    text-align: center;
    align-self: center;

    padding: 0pt;
    margin: 0pt
}

.popup > h1 {
    margin: 0pt;
}

.CUGI-Button {
    background-color: var(--artimus-button-normal);
    color: var(--artimus-text);
    transition: 300ms background-color;
    width: auto;

    border-width: 1.5pt;
    border-style: solid;
    border-color: var(--artimus-button-hover);
    border-radius: 12pt;
}

.CUGI-Popup .CUGI-Button {
    border-width: 0pt;
    width: 100%;
}

.CUGI-Button:hover {
    background-color: var(--artimus-button-hover);
}

.CUGI-Button:active {
    background-color: var(--artimus-button-click);
    transition: 0ms background-color;
}

.LOGO {
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    /* Weird chromium Win-11 bug */
    filter: blur(0);

    width: 90%;
    margin: 5%;
    margin-bottom: 0%;
    margin-top: 1%;
}

.popup-close {
    border-radius: 100%;
    border-width: 1.5pt;
    border-style: solid;

    height: 18pt;
    aspect-ratio: 1;
    border-radius: 6pt;

    background-color: var(--artimus-background-1);
    border-color: var(--artimus-background-3);
    color: var(--artimus-text);

    transition: background-color 100ms;
}

.popup-close:hover {
    background-color: var(--artimus-background-2);
}

.artimus-font-list {
    --padding: calc(var(--small-side) * 0.5);
    margin: var(--padding);
    padding: var(--padding);
    height: calc(100% - calc(var(--small-side) * 2));

    background-color: var(--artimus-background-2);
    
    display: flex;
    flex-direction: column;

    max-height: 75vh;

    border-radius: 12pt;
    overflow-y: scroll;
    overflow-x: hidden;
}

.artimus-font-button {
    font-size: calc(var(--small-side) * 2);
    background-color: var(--artimus-button-normal);

    border-width: 0pt;
    transition: 300ms background-color;

    margin-bottom: 1.5pt;
    margin-top: 1.5pt;
    border-radius: 12pt;
}

.artimus-font-button:hover {
    background-color: var(--artimus-button-hover);
}

.artimus-font-button:active {
    background-color: var(--artimus-button-click);
    transition: 0ms background-color;
}

.popup-newFile {
    display: grid;
    grid-template-columns: 65% 35%;
}

.popup-resizeFile {
    height: 100%;
}

.newFile-presets {
    margin: 6pt;
    padding: 3pt;
    background-color: var(--artimus-background-2);
    border-radius: 6pt;

    display: grid;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;

    overflow-x: hidden;
    overflow-y: scroll;
}

.newFile-preset {
    display: grid;
    grid-template-rows: 1fr 18pt 12pt;
    aspect-ratio: 8/11;

    margin: 3pt;
    border-radius: 6pt;
    background-color: var(--artimus-background-1);
}

.newFile-presetPreviewContainer {
    margin: 3pt;
    padding: 6pt;
    border-radius: 6pt;
    background-color: var(--artimus-background-2);

    width: calc(100% - 18pt);
    height: calc(100% - 18pt);

    display: flex;
    justify-content: center;
    align-items: center;
}

.newFile-presetPreview {
    border-color: var(--artimus-icon);
    border-width: 1.5pt;
    border-style: solid;
    border-radius: 6pt;
}

.newFile-presetName {
    font-size: 10.5pt;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.newFile-presetResolution {
    font-size: 7.5pt;
}

.newFile-tuning {
    display: grid;
    grid-template-rows: 60% 20% 20%;
}

.newFile-tuning-previewHolder {
    margin: 6pt;
    padding: 6pt;
    border-radius: 6pt;
    background-color: var(--artimus-background-2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.newFile-tuning-preview {
    border-color: var(--artimus-icon);
    border-width: 1.5pt;
    border-style: solid;
    border-radius: 6pt;

    transition: 300ms width, 300ms height;
}

.newFile-flip {
    border-radius: 100%;
    border-width: 1.5pt;
    border-style: solid;

    height: calc(100% - 12pt);
    margin: 6pt;
    aspect-ratio: 1;
    border-radius: 6pt;

    background-color: var(--artimus-background-1);
    border-color: var(--artimus-background-3);
    color: var(--artimus-text);

    transition: background-color 100ms;
}

.newFile-flip:hover {
    background-color: var(--artimus-background-2);
}

.newFile-flip:active {
    background-color: var(--artimus-button-click);
    transition: background-color 0ms;
}

.newFile-sizingDiv {
    display: grid;
    grid-template-columns: 50% 50%;

    aspect-ratio: 2/1;
    height: 100%;

    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.newFile-resolutionHolder {
    display: grid;
    grid-template-rows: 50% 50%;
}

.newFile-finalCreateButtonHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resizeFile-previewAnchor {
    --speed: 100ms;

    position: relative;

    left: var(--anchor-x);
    top: var(--anchor-y);

    width: 12pt;
    height: 12pt;

    background-color: var(--artimus-icon);
    transform: translate(-50%, -50%);

    border-radius: 100%;
    transition: var(--speed) left, var(--speed) top;
}

.layerProperties-BMTHolder {
    display: grid;
    margin: 3pt;
    grid-template-columns: 30% 70%;
}

.popup-layerProperties {
    padding: 3pt;

    display: flex;
    flex-direction: column;
}

.layerProperties-CenterHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layerProperties-BlendModeHolder {
    flex-direction: row;
}

.layerProperties-blendModePreview {
    height: calc(var(--small-side) * 5);

    background-color: var(--artimus-background-2);
    border-radius: 25%;
    margin: 3pt;
    padding: 3pt;
}

.layerProperties-doneButtonHolder {
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: end;
}

.popup-exportFile {
    display:flex;
    flex-direction: column;
    padding: 6pt;
}

.exportFile-formatDescription {
    min-height: 15%;
    max-height: 15%;
}

.exportFile-labelText {
    margin-bottom: 1.5pt;
    font-size: larger;
}

.exportFile-sizeInput {
    align-self: center;
}

.exportFile-finalSize {
    margin: 0pt;
}

.exportFile-backgroundDataHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exportFile-finalDiv {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-grow: 1;
}

.popup-settings {
    display: grid;
    grid-template-columns: 20% 80%;
}

.settings-categoryList {
    display: flex;
    flex-direction: column;

    border-right-color: var(--artimus-background-2);
    border-right-width: 3pt;
    border-right-style: solid;
}

.settings-categoryButton {
    border-radius: 0pt;
}