.layerProperties-BMTHolder {
    display: grid;
    margin: 4px;
    grid-template-columns: 30% 70%;
}

.popup-layerProperties {
    padding: 4px;

    display: flex;
    flex-direction: column;
}

.layerProperties-CenterHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layerProperties-BlendModeHolder {
    flex-direction: row;
}

.layerProperties-blendModePreview {
    height: calc(var(--small-side) * 5);

    background-color: var(--artimus-background-2);
    border-radius: 25%;
    margin: 4px;
    padding: 4px;
}

.layerProperties-doneButtonHolder {
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: end;
}