.lospec-previewContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.lospec-previewInformation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.lospec-previewDisplay {
    --palette: #ff00ff;
    background: var(--palette);
}