.popup-settings {
    display: grid;
    grid-template-columns: 20% 80%;
}

.settings-categoryList {
    display: flex;
    flex-direction: column;

    border-right-color: var(--artimus-background-2);
    border-right-width: 4px;
    border-right-style: solid;
}

.settings-categoryButton {
    border-radius: 0px;
}

.settings-settingsList {
    transition: background-color 300ms;
}

.settings-settingsList .CUGI-PropertyHolder {
    display: flex;
    grid-template-columns: 50% auto;

    animation: 300ms settings-pop-in;
}

.settings-settingsList .CUGI-PropertyHolder .CUGI-PropertyName {
    min-width: 50%;
    text-align: right;
    
    border-right-color: var(--artimus-background-3);
    border-right-width: 4px;
    border-right-style: solid;
    border-radius: 0px;

    background-color: var(--artimus-background-2);

    margin-right: 8px;
    margin-top: 0px;
    margin-bottom: 0px;

    padding-right: 8px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.settings-hotkeyDisplay {
    --index: 0;
    display: grid;
    grid-template-columns: 50% 1fr auto;
    animation: 300ms settings-pop-in;
    animation-fill-mode: backwards;
    animation-delay: calc(50ms * var(--index));

    background-color: var(--artimus-background-2);
}

.settings-hotkeyAdditionDisplay {
    background-color: transparent;

    border-radius: 0px;
    border-bottom-color: var(--artimus-background-3);
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.settings-hotkeyInput {
    border-radius: 4px;
}

.settings-hotkeyAdd {
    border-radius: 8px;
    aspect-ratio: 1;
    height: 100%;
}

.settings-hotkeyDescription {
    padding: 4px;
    margin: 0px;

    border-radius: 0px;
    border-right-color: var(--artimus-background-3);
    border-right-width: 4px;
    border-right-style: solid;
}

@keyframes settings-pop-in {
    0% {
        transform: scaleY(0) translateY(-100%);
    }
    50% {
        transform: scaleY(1.2) translateY(10%);
    }
    100% {
        transform: scaleY(1) translateY(0%);
    }
}