.popup-settings {
    display: grid;
    grid-template-columns: 20% 80%;
}

.settings-categoryList {
    display: flex;
    flex-direction: column;

    border-right-color: var(--artimus-background-2);
    border-right-width: 4px;
    border-right-style: solid;
    
    height: 100%;
    overflow-y: auto;
}

.settings-categoryButton {
    border-radius: 0px;
}

.settings-settingsList {
    transition: background-color 300ms;
    height: 100%;
    overflow-y: auto;
}

.settings-settingsList .CUGI-PropertyHolder {
    display: flex;
    grid-template-columns: 50% auto;

    animation: 300ms settings-pop-in;
}

.settings-settingsList .CUGI-DisplayHolder {
    display: flex;

    background-color: var(--artimus-background-2);
    align-items: center;
    justify-content: center;
}

.settings-settingsList .CUGI-PropertyHolder .CUGI-PropertyName {
    min-width: 50%;
    text-align: right;
    
    border-right-color: var(--artimus-background-3);
    border-right-width: 4px;
    border-right-style: solid;
    border-radius: 0px;

    background-color: var(--artimus-background-2);

    margin-right: 8px;
    margin-top: 0px;
    margin-bottom: 0px;

    padding-right: 8px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.settings-hotkeyDisplay {
    --index: 0;
    display: grid;
    grid-template-columns: 50% 1fr auto;
    animation: 300ms settings-pop-in;
    animation-fill-mode: backwards;
    animation-delay: calc(50ms * var(--index));
}

.settings-hotkeyAdditionDisplay {

    border-radius: 0px;
    border-bottom-color: var(--artimus-background-3);
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.settings-hotkeyInput {
    border-radius: 4px;
}

.settings-hotkeyAdd {
    border-radius: 8px;
    aspect-ratio: 1;
    height: 100%;
}

.settings-hotkeyDescription {
    padding: 4px;
    margin: 0px;
    background-color: var(--artimus-background-2);

    border-radius: 0px;
    border-right-color: var(--artimus-background-3);
    border-right-width: 4px;
    border-right-style: solid;
}

.settings-extensionMenu {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100%;
    overflow-y: auto;
}

.settings-extensionInfoHolder {
    background-color: var(--artimus-background-2);
    animation: 400ms extension-warning-pop-in;
    z-index: 4;
    overflow-y: scroll;
}

.settings-extensionDisplay {
    display: grid;
    grid-template-columns: 1fr auto;
    animation: 300ms settings-pop-in;
}

.settings-extensionAdditionDisplay {
    border-radius: 0px;
    border-bottom-color: var(--artimus-background-3);
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.settings-extensionAdd {
    border-radius: 8px;
    aspect-ratio: 1;
    height: 100%;
}

.settings-extensionHolder {
    --index: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    
    border-radius: 8px;
    padding: 4px;
    background-color: var(--artimus-background-2);

    text-align: left;
    
    animation: 300ms settings-pop-in;
    animation-fill-mode: backwards;
    animation-delay: calc(50ms * var(--index));
}

.settings-extensionRemove {
    height: auto;
    width: 2em;
    align-self: center;
}

.settings-extensionName {
    font-size: 1.5em;
}

.settings-extensionIcon {
    width: auto;
    height: 3em;

    aspect-ratio: 1;

    margin-right: 4px;

    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--artimus-background-3);
}

.settings-extensionModContainer {
    display: flex;
    align-items: center;
}


@keyframes settings-pop-in {
    0% {
        transform: scaleY(0) translateY(-100%);
    }
    50% {
        transform: scaleY(1.2) translateY(10%);
    }
    100% {
        transform: scaleY(1) translateY(0%);
    }
}

@keyframes extension-warning-pop-in {
    0% {
        transform: translateX(-50%) scaleX(0) translateX(50%);
    }
    50% {
        transform: translateX(-50%) scaleX(1.1) translateX(50%);
    }
    100% {
        transform: translateX(-50%) scaleX(1) translateX(50%);
    }
}


@media screen and (min-height: 100vw) {
    .settings-extensionMenu {
        grid-template-columns: auto;
        grid-template-rows: 30% 70%;
    }

    @keyframes extension-warning-pop-in {
        0% {
            transform: translateY(-50%) scaleY(0) translateY(50%);
        }
        50% {
            transform: translateY(-50%) scaleY(1.1) translateY(50%);
        }
        100% {
            transform: translateY(-50%) scaleY(1) translateY(50%);
        }
    }
}